<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<XPS xmlns:xs="http://www.w3.org/2001/XMLSchema-instance" TransferKey="{AESKW}Hc7Rrw5W0+MXM1tcJLoFTs1DUCNFiNWu3sr39OBByA7Jlq0Z4ohg0IsinUj2YH16" xs:noNamespaceSchemaLocation="CA_SiteMinder_WAM-XPS2.xsd">
    <XPSVersion>1</XPSVersion>
    <HostInformation>SMR125SANDBOX1</HostInformation>
    <XPSAdmin>os:KIMMY/Administrator</XPSAdmin>
    <PolicyData IsDumpExport="true">
        <References/>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </PolicyData>
    
</XPS>
